<h1 class="jumbotron" style="font-size: 5em">Current Auctions</h1>


<%= form_tag({}, {url: guitars_path, method: "get"}) do %>
    Select a Brand: <%= collection_select(:guitar, :brand, Guitar.active.to_a.uniq {|guitar| guitar.brand}, :brand, :brand, {include_blank: "All Brands", selected: params[:guitar] && params[:guitar][:brand]},
     onchange: "document.querySelector('form').submit()") %>
<% end %>



    <% @guitars.each do |guitar| %>
        <div  class="panel panel-default">
            <div class="panel-body">
                <div>
                <h1 class="guitar_header"><%= link_to(guitar.brand, guitar_path(guitar)) %> <%= link_to(guitar.style, guitar_path(guitar)) %> </h1>
                <h3>Auction Ends: <%= guitar.auction_end.strftime("%B #{guitar.auction_end.day.ordinalize}, %Y") %> </h3>
                <%= image_tag "#{guitar.image}" %>
                </div>
            </div>
        </div>
    <% end %>
