<h1><%= @guitar.brand %> <%= @guitar.style %> </h1>
<h3>Auction Ends: <%= @guitar.auction_end.strftime("%B %d, %Y") %> </h3>
<br>
<label><strong>Bid Start Amount: </strong></label> $<%= @guitar.start_bid %> 
<div>
    <%= image_tag "#{@guitar.image}" %>
</div>
<div>
    <% if @highest_bid %>
    <label><strong>Current Highest Bidder: </strong></label> <%= @highest_bid.user.first_name %> - $<%= @highest_bid.amount %>
    <% else %>
    <p>No bids yet!</p>
    <% end %>
</div><br>
<div>
<h2>Make a Bid!</h2>
    <%= form_for [@guitar, @bid] do |f| %>
        <label>Bid: </label> <%= f.text_field :amount %>
        <%= f.submit 'Bid!' %> 
    <% end %>
</div>

<h2>Comments</h2>
    <%= form_for [@guitar, @comment] do |f| %>
        <label>Make Comment: </label> <%= f.text_field :remark %>
        <%= f.submit 'Comment' %>
    <% end %>
<ul>
    <% @comments.each do |l| %>
        <li><label><strong><%= l.user.first_name %></strong>: <%= l.remark %> - <%= l.created_at.strftime('%I:%M%P, %m/%d/%y') %></li>    
        <% end %>

</ul>



