<h1 class="jumbotron" style="font-size: 5em">Edit Account</h1>
<div class="jumbotron">
<%= form_for @user, html: { multipart: true } do |f| %>
    <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    </div>
    <div>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    </div>
    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    <div>
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>
    <br>
    <%= f.submit "Update", class:"btn-success" %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
     <%= link_to 'Back', user_path(current_user) %>

<% end %>

</div>
</div>