<h1 class="jumbotron" style="font-size: 5em">My Account</h1>
<div class="jumbotron">
<%= image_tag "#{current_user.image}", class:'edit_account img-thumbnail' %>

<div class="acct_settings_header jumbotron">
    <%= link_to 'Edit Account', edit_user_path(current_user.id) %> <br>
    <%= link_to 'Add an Auction', new_guitar_path(current_user.id) %> <br>
</div>

<h1>Auctions Won </h1>
<% @guitars_won.each do |guitar| %>
    <div  class="panel panel-default">
        <div class="panel-body">
            <ul>
                <li><%= guitar.brand %> - <%= guitar.style %></li>
                <li>Auction Ended: <%= guitar.auction_end.strftime("%B %d, %Y") %></li>
            </ul>
            <%= image_tag "#{guitar.image}" %>
        </div>
    </div>
<% end %>
</div>