<!DOCTYPE html>
<html>
  <head>
    <title>Auction</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body class="container">
  <nav>
      
      <% if current_user%>
        <p class="welcome">
          <%= image_tag "#{current_user.image}" %> Welcome, <%= current_user.first_name %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Account Settings', user_path(current_user) %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Home', '/' %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
        </p>
      <% else %>
        <p>
          <%= link_to 'Log In', login_path %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Sign Up', new_user_path %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Home', '/' %>
        </p>
      <% end %>
   
    <%= yield %>
  </body>
</html>
